<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wistia Video Gallery</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <!--inject stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/static/bower_components/blueimp-file-upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="/static/bower_components/blueimp-file-upload/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="/static/bower_components/blueimp-file-upload/css/jquery.fileupload-ui-noscript.css"></noscript>
    <!--Generic Stylesheet-->
    <link rel="stylesheet" href="/static/styles/style.css">
  </head>
  <body ng-app="VideoUploader" ng-controller="videoController">
      <div class="col-sm-12 section-heading">
        <h4>Add Your files</h4>
      </div>

      <!--Upload video controller-->
      <upload-video options="options"></upload-video>
      <!--embeded video view-->
      <div class="col-sm-12 section-heading">
        <h4>File gallery</h4>
      </div>
      <div class="col-sm-12" style="padding:0px 0px 50px 10px;" ng-show="media.length">
          <video-view ng-repeat="video in media" media="video"></video-view>
      </div>
      <div class="col-sm-12" style="padding:50px 0px 50px 10px;" ng-show="!media.length">
        <p class="text-center"> <img src="/static/images/sad.png" alt="sad emoji"> You haven't uploaded any file here.</p>
      </div>






  <!--JavaScript inject here -->
  <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js" ></script>
  <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/static/app.js" ></script>

  <!--CDN injected Libraries-->
  <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
  <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
  <!-- The Canvas to Blob plugin is included for image resizing functionality -->
  <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
  <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- blueimp Gallery script -->
  <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
  <script src="/static/bower_components/jquery-ui/ui/widget.js"></script>

  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="/static/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>

  <!-- The basic File Upload plugin -->
  <script src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
  <!-- The File Upload processing plugin -->
  <script src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
  <!-- The File Upload image preview & resize plugin -->
  <script src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
  <!-- The File Upload audio preview plugin -->
  <script src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload-audio.js"></script>
  <!-- The File Upload video preview plugin -->
  <script src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
  <!-- The File Upload validation plugin -->
  <script src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
  <!-- The file upload angularJs Modules -->
  <script type="text/javascript" src="/static/bower_components/blueimp-file-upload/js/jquery.fileupload-angular.js"></script>
  <!-- embed wistia video/Media-->
  <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
  <!-- inject components-->
  <script type="text/javascript" src="/static/js/components/uploadVideo.js"></script>
  <script type="text/javascript" src="/static/js/components/videoView.js"></script>
  <script type="text/javascript" src="/static/js/controllers/controller.js"></script>
  </body>
</html>
